@charset "UTF-8";
/* 颜色类 */
$white-color:#FFF;    //白色
$darkWhite-color:#DFE4E8;    //标题，深白
$blue-color:#4b61d9;
$blue-active-color:#324195;
$green-color:#4CAF50;
$green-active-color:#419645;
$red-color:#FF4081;
$red-active-color:#E91F63;
$gray-color:#65757C;
$gray-active-color:#8F9A9F;

/* 类型类 */
$disabled-bgColor:rgba(199, 213, 217, 0.45);
$disabled-color:#8898A5;
